In [190]:
# Name: Rupsa Karak    PRN:25070123098
# Experiment 10
# Aim: Study of Pandas library
# Used for : Structerd data, EDA, Data cleaning
# Pandas : Panel Data

In [191]:
import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [192]:
# Create DataFrame
data = { "Name": ["A","B","C"], "Marks": [90,80,78]}
df = pd.DataFrame(data)
df

  Name  Marks
0    A     90
1    B     80
2    C     78

In [193]:
display(df.head())  #prints first 5 rows
df.tail()  #prints last 5 rows

  Name  Marks
0    A     90
1    B     80
2    C     78

  Name  Marks
0    A     90
1    B     80
2    C     78

In [194]:
# Find the structure of the DataFrame
print(df.shape)

# Find Dimension
print(df.ndim)

# Find no of elements in the table
print(df.size)

# Display column names
print(df.columns)

(3, 2)
2
6
Index(['Name', 'Marks'], dtype='object')

In [195]:
# Check Data types of each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [196]:
# Access Individual column
display(df["Name"])
df["Marks"]

0    A
1    B
2    C
Name: Name, dtype: object

0    90
1    80
2    78
Name: Marks, dtype: int64

In [197]:
# Access specific row
df.loc[1]

Name      B
Marks    80
Name: 1, dtype: object

In [198]:
# Displaying a specific row, column
df.iloc[1,1]

np.int64(80)

In [199]:
# Add a new column
df["Grade"] = ["First Class", "Distinction", "Second Class"]
df

  Name  Marks         Grade
0    A     90   First Class
1    B     80   Distinction
2    C     78  Second Class

In [200]:
# Update Data in DataFrame
# Change marks of Student A
df.loc[0, "Marks"] = 98
df

  Name  Marks         Grade
0    A     98   First Class
1    B     80   Distinction
2    C     78  Second Class

In [201]:
#Delete a column
df.drop("Grade", axis = 1, inplace = False)
display(df)

df.drop("Grade", axis = 1, inplace = True)
display(df)

  Name  Marks         Grade
0    A     98   First Class
1    B     80   Distinction
2    C     78  Second Class

  Name  Marks
0    A     98
1    B     80
2    C     78

In [203]:
# Performing Basic Statistical operations

mean = df["Marks"].mean()
display(mean)

min = df["Marks"].min()
display(min)

max = df["Marks"].max()
display(max)

np.float64(85.33333333333333)

78

98

In [205]:
# Apply Condition(Filtering)
df[df["Marks"]> 80]

  Name  Marks
0    A     98